n8n_workflow_rishca_sync.json
{
  "name": "Rishca Financial Sync Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rishca-sync",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook: Sync Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 300],
      "webhookId": "rishca-sync"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://rjjjckoktnesjnhewqnr.supabase.co/rest/v1/time_entries?select=*",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJqampja29rdG5lc2puaGV3cW5yIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM5NTkyNzQsImV4cCI6MjA4OTUzNTI3NH0.ZfTusGV9s6DmXqwg1nA4aDhti9aPkiwIZsK0fUgXxlQ" },
            { "name": "Authorization", "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJqampja29rdG5lc2puaGV3cW5yIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM5NTkyNzQsImV4cCI6MjA4OTUzNTI3NH0.ZfTusGV9s6DmXqwg1nA4aDhti9aPkiwIZsK0fUgXxlQ" }
          ]
        },
        "options": {}
      },
      "id": "fetch-time-entries",
      "name": "Supabase: Fetch Time Entries",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://rjjjckoktnesjnhewqnr.supabase.co/rest/v1/team_members?select=*",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJqampja29rdG5lc2puaGV3cW5yIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM5NTkyNzQsImV4cCI6MjA4OTUzNTI3NH0.ZfTusGV9s6DmXqwg1nA4aDhti9aPkiwIZsK0fUgXxlQ" },
            { "name": "Authorization", "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJqampja29rdG5lc2puaGV3cW5yIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM5NTkyNzQsImV4cCI6MjA4OTUzNTI3NH0.ZfTusGV9s6DmXqwg1nA4aDhti9aPkiwIZsK0fUgXxlQ" }
          ]
        },
        "options": {}
      },
      "id": "fetch-team-members",
      "name": "Supabase: Fetch Team Members",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://rjjjckoktnesjnhewqnr.supabase.co/rest/v1/fx_rates?order=rate_date.desc&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJqampja29rdG5lc2puaGV3cW5yIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM5NTkyNzQsImV4cCI6MjA4OTUzNTI3NH0.ZfTusGV9s6DmXqwg1nA4aDhti9aPkiwIZsK0fUgXxlQ" },
            { "name": "Authorization", "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJqampja29rdG5lc2puaGV3cW5yIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM5NTkyNzQsImV4cCI6MjA4OTUzNTI3NH0.ZfTusGV9s6DmXqwg1nA4aDhti9aPkiwIZsK0fUgXxlQ" }
          ]
        },
        "options": {}
      },
      "id": "fetch-fx-rate",
      "name": "Supabase: Fetch FX Rate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 600]
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {},
        "options": {},
        "combineBy": "combineAll"
      },
      "id": "merge-data",
      "name": "Merge All Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [720, 300]
    },
    {
      "parameters": {
        "jsCode": "// Build financial snapshot from Supabase data\nconst timeEntries = $input.all().filter(i => i.json.member_name);\nconst scenario = $('Webhook: Sync Trigger').first().json.body?.scenario || 'base';\n\n// Get FX rate\nconst fxItems = $input.all().filter(i => i.json.usd_egp);\nconst usdEgp = fxItems.length > 0 ? fxItems[0].json.usd_egp : 50.0;\nconst egpToUsd = 1.0 / usdEgp;\n\n// Aggregate by month\nconst monthly = {};\nfor (const entry of timeEntries) {\n  const key = `${entry.json.year}-${String(entry.json.month).padStart(2, '0')}`;\n  if (!monthly[key]) {\n    monthly[key] = { month: key, total_egp: 0, total_usd: 0, by_member: [] };\n  }\n  const amount = parseFloat(entry.json.amount || 0);\n  monthly[key].total_egp += amount;\n  monthly[key].total_usd += amount * egpToUsd;\n  monthly[key].by_member.push({\n    name: entry.json.member_name,\n    year: entry.json.year,\n    month: entry.json.month,\n    hours: parseFloat(entry.json.hours || 0),\n    amount: amount,\n    hourly_rate: parseFloat(entry.json.hourly_rate || 0),\n  });\n}\n\n// Build annual totals\nconst annual_egp = {};\nconst annual_usd = {};\nfor (const [key, data] of Object.entries(monthly)) {\n  const year = parseInt(key.split('-')[0]);\n  const fy = `fy${year - 2000}`;\n  annual_egp[fy] = (annual_egp[fy] || 0) + data.total_egp;\n  annual_usd[fy] = (annual_usd[fy] || 0) + data.total_usd;\n}\n\nconst snapshot = {\n  generated_at: new Date().toISOString(),\n  scenario: scenario,\n  currency: { egp_to_usd: egpToUsd },\n  team_costs: {\n    monthly_summary: Object.values(monthly),\n    annual_totals_egp: annual_egp,\n    annual_totals_usd: annual_usd,\n  },\n  assumptions: $('Webhook: Sync Trigger').first().json.body?.assumptions || {},\n  customer_growth: $('Webhook: Sync Trigger').first().json.body?.customer_growth || {},\n};\n\nreturn [{ json: snapshot }];"
      },
      "id": "build-snapshot",
      "name": "Code: Build Snapshot",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://rishca-sync-service-production.up.railway.app/api/sync",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "call-sync-service",
      "name": "HTTP: Call Sync Service",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://rishca-sync-service-production.up.railway.app{{ $json.download_urls?.slides || $json.download_urls?.model }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "download-files",
      "name": "HTTP: Download Generated Files",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1440, 200]
    },
    {
      "parameters": {
        "operation": "upload",
        "name": "=Rishca_OS_Financial_Pitch_Slides_{{ $now.format('yyyyMMdd') }}.pptx",
        "folderId": "1OQ_sebrvhbrbZQMVMDpCUTTKIKCbu7nJ",
        "options": {}
      },
      "id": "upload-to-drive",
      "name": "Google Drive: Upload Slides",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1680, 200],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_GDRIVE_CREDENTIAL_ID",
          "name": "Google Drive"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "status",
              "name": "status",
              "value": "=Pipeline completed. Files: {{ Object.keys($('HTTP: Call Sync Service').first().json.download_urls || {}).join(', ') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-response",
      "name": "Set: Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1680, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'success', ...($('HTTP: Call Sync Service').first().json) }) }}",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1920, 300]
    }
  ],
  "connections": {
    "Webhook: Sync Trigger": {
      "main": [
        [
          { "node": "Supabase: Fetch Time Entries", "type": "main", "index": 0 },
          { "node": "Supabase: Fetch Team Members", "type": "main", "index": 0 },
          { "node": "Supabase: Fetch FX Rate", "type": "main", "index": 0 }
        ]
      ]
    },
    "Supabase: Fetch Time Entries": {
      "main": [
        [{ "node": "Merge All Data", "type": "main", "index": 0 }]
      ]
    },
    "Supabase: Fetch Team Members": {
      "main": [
        [{ "node": "Merge All Data", "type": "main", "index": 1 }]
      ]
    },
    "Supabase: Fetch FX Rate": {
      "main": [
        [{ "node": "Merge All Data", "type": "main", "index": 0 }]
      ]
    },
    "Merge All Data": {
      "main": [
        [{ "node": "Code: Build Snapshot", "type": "main", "index": 0 }]
      ]
    },
    "Code: Build Snapshot": {
      "main": [
        [{ "node": "HTTP: Call Sync Service", "type": "main", "index": 0 }]
      ]
    },
    "HTTP: Call Sync Service": {
      "main": [
        [
          { "node": "HTTP: Download Generated Files", "type": "main", "index": 0 },
          { "node": "Set: Response", "type": "main", "index": 0 }
        ]
      ]
    },
    "HTTP: Download Generated Files": {
      "main": [
        [{ "node": "Google Drive: Upload Slides", "type": "main", "index": 0 }]
      ]
    },
    "Google Drive: Upload Slides": {
      "main": [
        [{ "node": "Respond to Webhook", "type": "main", "index": 0 }]
      ]
    },
    "Set: Response": {
      "main": [
        [{ "node": "Respond to Webhook", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "rishca" },
    { "name": "financial-sync" }
  ]
}
