n8n_workflow_rishca_sync.json
{
  "name": "Rishca Financial Sync Pipeline v3",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rishca-sync",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook: Sync Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 300],
      "webhookId": "rishca-sync-v3"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://llrvrcgwhvcaqvscpnsi.supabase.co/functions/v1/team-time-log?days=365",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "TiQwbG47NLUKYhg" }
          ]
        },
        "options": {}
      },
      "id": "fetch-vitalis-data",
      "name": "Vitalis: Fetch Team Time Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Pass Vitalis data + webhook params to sync service\nconst vitalisData = $input.first().json;\nconst webhookBody = $('Webhook: Sync Trigger').first().json.body || {};\n\nreturn [{ json: {\n  generated_at: new Date().toISOString(),\n  scenario: webhookBody.scenario || 'base',\n  source: webhookBody.source || 'n8n',\n  vitalis_data: vitalisData,\n  assumptions: webhookBody.assumptions || {},\n  customer_growth: webhookBody.customer_growth || {}\n}}];"
      },
      "id": "build-snapshot",
      "name": "Code: Build Snapshot",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://rishca-sync-service-production.up.railway.app/api/sync",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "call-sync-service",
      "name": "HTTP: Call Sync Service",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 300]
    }
  ],
  "connections": {
    "Webhook: Sync Trigger": {
      "main": [
        [
          { "node": "Vitalis: Fetch Team Time Log", "type": "main", "index": 0 }
        ]
      ]
    },
    "Vitalis: Fetch Team Time Log": {
      "main": [
        [{ "node": "Code: Build Snapshot", "type": "main", "index": 0 }]
      ]
    },
    "Code: Build Snapshot": {
      "main": [
        [{ "node": "HTTP: Call Sync Service", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "rishca" },
    { "name": "financial-sync" }
  ]
}
