n8n_workflow_rishca_sync.json
{
  "name": "Rishca Financial Sync Pipeline v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rishca-sync",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook: Sync Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 300],
      "webhookId": "rishca-sync"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://llrvrcgwhvcaqvscpnsi.supabase.co/functions/v1/team-time-log?days=365",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "TiQwbG47NLUKYhg" }
          ]
        },
        "options": {}
      },
      "id": "fetch-vitalis-data",
      "name": "Vitalis: Fetch Team Time Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Build financial snapshot from Vitalis API response\nconst vitalisData = $('Vitalis: Fetch Team Time Log').first().json;\nconst scenario = $('Webhook: Sync Trigger').first().json.body?.scenario || 'base';\nconst entries = vitalisData.entries || [];\nconst teamSummary = vitalisData.team_summary || [];\n\n// Default FX rate (EGP per USD)\nconst usdEgp = 50.0;\nconst egpToUsd = 1.0 / usdEgp;\n\n// Aggregate entries by month\nconst monthly = {};\nfor (const entry of entries) {\n  // Parse date to get year-month\n  const date = new Date(entry.date);\n  const year = date.getFullYear();\n  const month = date.getMonth() + 1;\n  const key = `${year}-${String(month).padStart(2, '0')}`;\n  \n  if (!monthly[key]) {\n    monthly[key] = { month: key, total_hours: 0, by_member: [] };\n  }\n  const hours = parseFloat(entry.minutes || 0) / 60;\n  monthly[key].total_hours += hours;\n  monthly[key].by_member.push({\n    name: entry.member_name || entry.name,\n    hours: hours,\n    date: entry.date,\n    task: entry.task || entry.description || ''\n  });\n}\n\n// Build team members list from summary\nconst team_members = teamSummary.map(m => ({\n  name: m.name,\n  email: m.email,\n  total_hours: m.total_hours,\n  total_minutes: m.total_minutes\n}));\n\nconst snapshot = {\n  generated_at: new Date().toISOString(),\n  scenario: scenario,\n  currency: { egp_to_usd: egpToUsd, usd_egp: usdEgp },\n  vitalis_period: vitalisData.period,\n  total_entries: vitalisData.count,\n  total_hours: vitalisData.total_hours,\n  team_costs: {\n    monthly_summary: Object.values(monthly),\n    team_members: team_members\n  },\n  assumptions: $('Webhook: Sync Trigger').first().json.body?.assumptions || {},\n  customer_growth: $('Webhook: Sync Trigger').first().json.body?.customer_growth || {},\n};\n\nreturn [{ json: snapshot }];"
      },
      "id": "build-snapshot",
      "name": "Code: Build Snapshot",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://rishca-sync-service-production.up.railway.app/api/sync",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "call-sync-service",
      "name": "HTTP: Call Sync Service",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'success', ...($json) }) }}",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1200, 300]
    }
  ],
  "connections": {
    "Webhook: Sync Trigger": {
      "main": [
        [
          { "node": "Vitalis: Fetch Team Time Log", "type": "main", "index": 0 }
        ]
      ]
    },
    "Vitalis: Fetch Team Time Log": {
      "main": [
        [{ "node": "Code: Build Snapshot", "type": "main", "index": 0 }]
      ]
    },
    "Code: Build Snapshot": {
      "main": [
        [{ "node": "HTTP: Call Sync Service", "type": "main", "index": 0 }]
      ]
    },
    "HTTP: Call Sync Service": {
      "main": [
        [{ "node": "Respond to Webhook", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "rishca" },
    { "name": "financial-sync" }
  ]
}
